* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --selection: #00000077;
    --bg: #171717;
    --text: #fff;
    --theme: #e7492b;
    --close: #242424;
    --offcanvas: #161614;
    --newoffcanvas: #0000003a;
    --heading: #ece6e6;
}

*::selection {
    background-color: var(--selection);
    backdrop-filter: blur(2px);
    color: var(--text);
}

/* Header */

header {
    background-color: var(--bg);
    position: relative;
    min-width: 350px;
}

.linkbar {
    height: fit-content;
}

.links {
    display: flex;
    align-items: center;
    height: fit-content;
    margin: 0px;
}

.link a {
    color: var(--text);
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 47px 0px;
    font-weight: 500;
    margin-right: 50px;
    position: relative;
}

.link a::after {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 0px;
    width: 0px;
    height: 1px;
    background: var(--heading);
    transition: all 0.3s ease-in-out;
}

.link:hover>a {
    color: var(--theme);

    &::after {
        width: 100%;
    }
}

.link:last-child a {
    margin-right: 0px;
}

.dropdown-menus {
    min-width: 260px;
    position: absolute;
    background-color: var(--newoffcanvas);
    backdrop-filter: blur(3px);
    padding: 10px;
    visibility: hidden;
    transform: translateY(25px);
    transition: all 0.2s ease-in-out;
    z-index: 5;
}

.dropdown-links {
    padding: 0px;
}

.dropdown-link a {
    font-family: "Chakra Petch";
    padding: 10px;
    color: var(--text);
}

.link:hover>.dropdown-menus {
    visibility: visible;
    transform: translateY(0px);
}

.dropdown-link:hover {
    background-color: var(--newoffcanvas);

    &>a {
        color: var(--theme);
    }
}

.menu-bar {
    height: 100%;
}

.menus {
    height: 50px;
    width: 50px;
    background-color: var(--theme);
    border: none;
    margin-left: 40px;
}

.bar {
    height: 2px;
    width: 15px;
    background-color: var(--text);
    position: relative;
    transition: 0.3s width linear;
}

.bar::after {
    content: "";
    height: 2px;
    width: 8px;
    background-color: var(--text);
    position: absolute;
    top: 4px;
    left: 0px;
    transition: 0.3s width linear;
}

.bar:first-child {
    margin-bottom: 6px;
}

.menus:hover>.bar {
    width: 8px;
    left: -2px;
}

.menus:hover>.bar::after {
    width: 15px;
}

.cart {
    position: relative;
    padding: 47px 0px;
}

.cart::after {
    content: "0";
    position: absolute;
    top: 0px;
    right: -5px;
    color: var(--text);
    background-color: var(--theme);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
}

.cart .cart-sug {
    min-width: 300px;
    position: absolute;
    right: 0px;
    background-color: var(--newoffcanvas);
    backdrop-filter: blur(2px);
    padding: 10px;
    visibility: hidden;
    transform: translateY(25px);
    transition: all 0.2s ease-in-out;
    margin-top: 47px;
    z-index: 5;
}

.cart-sug .dropdown-link a {
    font-family: "Chakra Petch";
    text-decoration: none;
    padding: 10px;
    color: var(--text);
}

.cart:hover>.cart-sug {
    visibility: visible;
    transform: translateY(0px);
}

/* Canvas */

.offcanvas-slider {
    max-width: 745px;
    height: 100vh;
    background-color: var(--newoffcanvas);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0px;
    right: -745px;
    transition: all 0.5s ease-out;
    overflow-y: scroll;
    z-index: 99;
}

.offcanvas-slider-show {
    right: 0px;
}

/* Max Canvas */
.offcanvas-max {
    padding: 50px 100px;
    position: relative;
}

.offcanvas-max-logo {
    padding: 10px 100px;
}

.offcanvas-slider .close {
    padding: 10px 20px;
    border-radius: 50%;
    background-color: var(--close);
    color: var(--text);
    font-size: 30px;
    position: absolute;
    right: 50px;
    top: 20px;
}

.offcanvas-slider .close:hover {
    background-color: #161614;
    color: var(--text);
}

.canvas-heading-1 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--text);
    padding-right: 50px;
    transform: translateY(50px);
    transition-delay: .7s;
    opacity: 0.5;
    transition: all 0.5s ease-in;
}

.canvas-heading-2 {
    margin-top: 50px;
    color: var(--heading);
    padding-right: 50px;
    transform: translateY(50px);
    transition-delay: .7s;
    opacity: 0.5;
    transition: all 0.7s ease-in;
}

.CanPra-1 {
    font-size: 25px;
    font-weight: 500;
    color: var(--text);
    margin-bottom: 0px;
    transform: translateY(50px);
    transition-delay: .7s;
    opacity: 0.1;
    transition: all 0.7s ease-in;
}

.CanPra-2 {
    font-size: 25px;
    font-weight: 500;
    color: var(--text);
    margin-bottom: 0px;
    transform: translateY(50px);
    transition-delay: .7s;
    opacity: 0.1;
    transition: all 0.7s ease-in;
}

.CanPra-3 {
    font-size: 25px;
    font-weight: 500;
    color: var(--text);
    margin-bottom: 0px;
    transform: translateY(50px);
    transition-delay: .7s;
    opacity: 0.1;
    transition: all 0.7s ease-in;
}

.canvas-heading-3 {
    margin-top: 50px;
    color: var(--heading);
    transform: translateY(50px);
    transition-delay: .7s;
    opacity: 0.5;
    transition: all 0.7s ease-in;
}

.canvas-heading-3 a {
    text-decoration: none;
    color: var(--heading);
    margin: 0px 10px;
    font-size: 25px;
    font-weight: 400;
}

.canvas-heading-3 a:last-child {
    margin: 0px;
    padding: 0px 10px;
    border-left: 1px solid var(--heading);
}

.canvas-heading-3 a:hover {
    color: var(--text);
}

.canvas-footer {
    margin-top: 50px;
    color: var(--heading);
    padding-right: 50px;
    transform: translateY(50px);
    transition-delay: .7s;
    opacity: 0.5;
    transition: all 0.7s ease-in;
}

.canvas-footer a {
    text-decoration: none;
    color: var(--heading);
    margin: 0px 10px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.canvas-footer a:hover {
    color: var(--text);
}

.canvas-footer a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 0px;
    height: 1px;
    background: var(--heading);
    transition: all 0.3s ease-in-out;
}

.canvas-footer a:hover {
    color: var(--text);

    &::after {
        width: 100%;
    }
}

.slide-up {
    opacity: 1;
    transform: translateY(0px);
}

/* Min Canvas */
.min-close {
    float: right;
    color: var(--heading);
    background-color: var(--close);
    font-size: 25px;
    padding: 0px 10px;
    margin: 10px 10px 0px 0px;
}

.min-close:hover {
    color: var(--text);
    background-color: var(--offcanvas);
}

.offcanvas-min {
    padding: 50px 25px 40px;
    min-width: 300px;
    max-width: 300px;
    height: 80%;
    overflow-y: auto;
}

.offcanvas-min-logo {
    margin-bottom: 40px;
    width: 100%;
}

.search-box {
    padding: 0px;
    min-width: 250px;
}

.search {
    min-width: 100%;
    background-color: var(--newoffcanvas);
    padding: 10px;
    outline: 2px solid --theme;
    margin-bottom: 25px;
    color: var(--text);

    &::placeholder {
        color: var(--heading);
    }
}

.canvas-links {
    max-width: 250px;
}

.canvas-link {
    min-width: 250px;
    max-height: fit-content;
    border-bottom: 1px solid var(--newoffcanvas);
}

.canvas-link a {
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 5px 0px;
}

.canvas-link:hover {
    background-color: var(--newoffcanvas);
}

.canvas-link:hover a {
    color: var(--theme);
}

.dropdown-togg {
    padding: 3px 10px;
    color: var(--text);
    background-color: var(--close);
}

.dropdown-togg:hover {
    background-color: var(--offcanvas);
}

.down-arrow {
    rotate: 90deg;
    margin-bottom: 0px;
    transition: all 0.3s linear;
}

.down-arrow:hover {
    color: var(--theme);
}

.up-arrow {
    rotate: -90deg;
}

.canvas-drop-links {
    min-width: 250px;
    padding: 0px;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease-in;
}

.open-dropdown-1 {
    height: 100px;
}

.open-dropdown-2 {
    height: 200px;
}

.canvas-drop-link {
    width: 100%;
    border-bottom: 1px solid var(--newoffcanvas);
    padding: 10px 10px;
}

.canvas-drop-link a {
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.canvas-drop-link:hover {
    background-color: var(--newoffcanvas);
}

.canvas-drop-link:hover a {
    color: var(--theme);
}

header::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: radial-gradient(#ece6e6a1, var(--bg)70%);
}

/* section - 1 */
.sec1 {
    min-height: 870px;
    width: 100%;
    background: url('https://wp.xpressbuddy.com/purefit/wp-content/uploads/2024/04/hero_bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0px;
    min-width: 350px;
}

.hero {
    min-width: 350px;
    z-index: 1;
}

.hero span {
    color: white;
    position: relative;
    font-weight: 500;
    padding: 10px 20px;
}

.hero span::after,
.hero span::before {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
}

.hero span::before {
    content: url('https://wp.xpressbuddy.com/purefit/wp-content/themes/purefit/assets/img/s_left.png');
    left: 0px;
}

.hero span::after {
    content: url('	https://wp.xpressbuddy.com/purefit/wp-content/themes/purefit/assets/img/s_right.png');
    margin-left: 5px;
}

.hero h1 {
    font-family: 'Chakra Petch';
    font-size: 65px;
    font-weight: 900;
}

.buynow {
    min-width: 165px;
    min-height: 50px;
    border: 1px solid var(--text);
    background-color: transparent;
    color: white;
    font-weight: 700;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.buynow::after {
    content: "";
    height: 50px;
    width: 30%;
    transform: translate(-5px, 5px);
    background-color: var(--theme);
    position: absolute;
    top: -1px;
    left: -1px;
    clip-path: polygon(0 0, 0% 0, 100% 100%, 0% 100%);
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.buynow:hover {
    border: 1px solid var(--theme);
}

.buynow:hover::after {
    width: 165px;
    transform: translate(0px, 0px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.contact {
    min-width: 300px;
    max-width: 300px;
}

.contact .col-3 p {
    border-radius: 50px;
    margin-bottom: 0px;
    background-color: var(--theme);
    padding: 10px 15px;
}

.contact .col-9 span {
    font-size: 12px;
    color: #9fa3a0;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.contact .col-9 span::after,
.contact .col-9 span::before {
    content: "";
}

.contact .col-9 p {
    margin-bottom: 0px;
    color: var(--text);
    font-size: 16px;
    font-family: 'Chakra Petch';
}

.hero:last-child {
    display: flex;
    justify-content: end;
}

/* Section 2 */
.sec2{
    padding: 120px 0px 54px;
}

/* Media Query */
@media (max-width: 1500px) {

}

@media (max-width: 1199px) {
    .sec1 {
        min-height: 650px;
    }

    .protin {
        max-width: 420px;
        height: fit-content;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero:last-child {
        display: flex;
        justify-content: flex-start;
    }
}

@media (max-width: 991.98px) {
    header {
        padding: 16px 10%;
    }

    .offcanvas-slider {
        max-width: fit-content;
        height: 100vh;
        background-color: var(--newoffcanvas);
        backdrop-filter: blur(2px);
        position: fixed;
        top: 0px;
        left: -300px;
        transition: all 0.5s ease-out;
        overflow-y: scroll;
        max-width: 300px;
    }

    .offcanvas-slider-show {
        left: 0px;
    }

    header::after {
        left: -10%;
    }

    .sec1 {
        min-height: 650px;
    }

    .hero {
        min-height: 420px;
    }
}

@media (max-width:720px) {
    .hero h1 {
        font-size: 32px;
    }
}

@media (max-width:512px) {
    .protin {
        max-width: 350px;
    }
}